/* PC、スマホ共通スタイル */
body {
 font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif;
}

p {
  font-size: 15px;
}

/* PC用スタイル */
@media screen and (min-width:768px) {
/* 横幅設定 */
body {
  max-width: 1080px;
  min-width: 960px;
  margin: 0 auto 0 auto;
}

/* ヘッダー */
header {
  display: flex;
  justify-content: space-between;
}

/* ナビゲーションのレイアウト */
#nav-pc {
  text-align: right;
  font-size: 14px;
  padding-top: 15px;
}

/* ナビゲーションのリンクの装飾設定 */
#nav-pc > a {
  text-decoration: none;
  margin-left: 20px;
}
#nav-pc > a:link {
  color: #0d0d0d;
}
#nav-pc > a:visited {
  color: #0d0d0d;
}
#nav-pc > a:hover {
  color: #0d0d0d;
  text-decoration: underline;
}
#nav-pc > a:active {
  color: #0d0d0d;
}

/* スマホ用ナビを非表示 */
#nav-sp,#menu-sp {
  display: none;
}

#logo {
  padding-left: 20px;
  padding-top: 5px;
}

/* メインビジュアル */
#main-visual {
  position: relative;
  height: 400px;
}

#main-message {
  position: absolute;
  top: 0;
  left: 0;
  color: #0d0d0d;
  background-color: #89BCD6;
  border-radius: 0 0 476px 0;
  max-width: 620px;
  height: 100%;
  width: 100%;
  z-index: 11;
}

#main-message > h1 {
  font-size: 100px;
  font-weight: bold;
  margin: 100px 200px 0px 100px;
}

#main-message > p {
  font-size: 30px;
  margin: 0 150px;
}

#main-visual > img {
  max-width: 620px;
  border-radius: 470px 0 0 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

/* 見出し */
h2 {
  margin: 40px 40px;
  text-align: left;
 font-size: 35px;
}
h2::after {
  content: url("image/line.png");
  margin-top: 10px;
}
h3 { 
  font-size: 23px;
}

/* ミッション */
#mission {
  margin: 80px auto 80px auto;
  width: 100%;
}
#mission-flex {
  width: 100%;
  display: flex;
}
#mission-photo {
  width: 100%;
}

/* 商品一覧 */
#product {
  background-color: #ffffff;
  margin: 80px 0 80px 0;
  padding: 10px 40px 0px 40px;
}

/* 外枠 */
#product > div {
  margin-top: 40px;
  display: flex;
}

/* 左のカラム */
#product-left {
  width: 50%;
  margin-right: 20px;
}

/* 右のカラム */
#product-right {
  width: 50%;
  margin-left: 20px;
  margin-top: 20px;
}

/* 画像＋説明の枠 */
#product-left > div {
  position: relative;
  height: 480px;
  margin-right: 20px;
}
#product-right > div {
  position: relative;
  height: 480px;
  margin-left: 20px;
}

/* 画像 */
.product-photo {
  border-radius: 30px 30px 250px 30px;
  width: 100%;
}

/* 説明文の枠 */
.product-explain {
  background-color: rgb(193,219,129,0.6);
  position: absolute;
  left: 0;
  top: 280px;
  margin: 0 40px 0 40px;
  padding: 20px;
  box-shadow: 5px 5px 10px rbga(0,0,0,0.05);
}

/* 説明文の英語 */
.product-explain > span {
  color: #5D5099;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

/* 説明文の見出し */
.product-explain > h3 {
  font-size: 25px;
  margin: 5px 0 5px 0;
}

/* 説明文 */
.product-explain > p {
  font-size: 14px;
  margin: 0;
}

/* ニュース */
#news {
  margin: 80px auto 80px auto;
}

#news > div {
  display: flex;
}

/* 画像 */
.recommendation-img {
  width: 100%;
  align-self: flex-start;
}
.recommendation-img2 {
  margin-top: 50px;
  width: 100%;
}

/* 表 */
.recommendation {
  margin-right: 50px;
}
.recommendation-num {
  font-size: 80px;
  color: #DC669B;
  margin: 0 20px 0 0;
}
.recommendation-en {
  color: #A55B9A;
  font-weight: bold;
  font-size: 24px;
  display: block;
}
.recommendation-jp {
  font-size: 28px;
  font-weight: bold;
}
.description {
  margin: 0;
}

/* お問い合わせ */
#contact {
  margin: 80px auto 80px auto;
}

/* 外枠 */
#contact > form > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

/* 左列の見出し */
.contact-heading {
  width: 240px;
  align-self: center;
}
/* 見出しのラベル */
.contact-label {
  font-weight: bold;
}
/* 必須 */
.contact-span {
  color: #ce2222;
  margin: 0 0 0 20px;
  font-weight: bold;
}

/* テキストボックス */
.contact-textbox {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom-width: 1px;
  border-bottom-color: #707070;
  border-bottom-style: solid;
  background-color: #fafafa;
  width: 400px;
  height: 56px;
}
/* お問い合わせ内容のテキストエリア */
.contact-textarea {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom-width: 1px;
  border-bottom-color: #707070;
  border-bottom-style: solid;
  background-color: #fafafa;
  width: 400px;
  height: 200px;
}

/* フッター */
footer {
  background-color: #B4ADA9;
  text-align: center;
  padding: 80px 80px 30px 80px;
}
#footer-logo {
  margin-bottom: 30px;
}

#footer-link {
  margin-bottom: 50px;
}
#footer-link > a {
  text-decoration: none;
  margin: 10px;
}
#footer-link > a:link {
  color: black;
}
#footer-link > a:visited {
  color: black;
}
#footer-link > a:hover {
  color: black;
  text-decoration: underline;
}
#footer-link > a:active {
  color: black;
}

#sns-footer {
  text-align: left;
  width: 100%;
}
#sns-footer > a {
  margin-right: 30px;
}
#copyright {
  color: #ffffff;
  float: right;
}
}

/* スマホ用のスタイル */
@media screen and (max-width: 767px) {
  body {
    min-width: 375px;
    margin: 0;
  }
  #nav-pc {
    display: none;
  }
  #menu-sp {
    float: right;
    padding: 0;
  }
  /* スマホ用ナビゲーションの表示切替 */
   /* 初期状態、レイアウトと非表示設定 */
   #nav-sp {
    background-color: #B4ADA9;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 100;
  }
   /* ×ボタン */
   #close {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  /* ナビゲーションメニュー用ロゴ */
  #logo-sp {
    margin: 80px 0 30px 20px;
  }
  /* ナビゲーションのリンクの装飾設定 */
  #nav-sp > a {
    display: block;
  }
  #nav-sp > a:link {
    color: #ffffff;
  }
  #nav-sp > a:visited {
    color: #ffffff;
  }
  #nav-sp > a:hover {
    color: #ffffff;
    text-decoration: underline;
  }
  #nav-sp > a:active {
    color: #ffffff;
  }
  #nav-sp > .menu {
    text-decoration: none;
    display: block;
    margin: 0 20px 0 20px;
    height: 44px;
    font-size: 16px;
    background-image: url("images/arrow.png");
    background-repeat: no-repeat;
    background-position: right top;
  }

  /* メインビジュアル */
  #main-visual {
    position: relative;
    height: 470px;
    width: 100%;
    overflow: hidden;
  }
  #main-visual > div {
    position: absolute;
    top: 0;
    left: 0;
    color: #0d0d0d;
    background-color: #89BCD6;
    border-radius: 0 0 476px 0;
    text-align: left;
    height: 280px;
    width: 100%;
    z-index: 11;
  }
  #main-visual > div > h1 {
    font-size: 45px;
    margin: 90px 0 0 0;
  }
  #main-visual > div > p {
    margin: 0;
  }
  #main-visual > img {
    width: 100%;
    border-radius: 476px 0 0 0;
    z-index: 10;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  h2::after {
    content: url(image/line.png);
    margin-left: 10px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 13px;
    margin: 10px 0 0 0;
  }

  /* Stationeryについて */
  #mission {
    margin: 20px;
  }
  #mission-photo {
    width: 100%;
  }

  /* 商品について */
  #product {
    background-color: #ffffff;
    padding-top: 10px;
  }
  #product h2 {
    margin-left: 20px;
  }
  #product-left,#product-right {
    margin-right: 20px;
    margin-left: 20px;
  }

  /* 画像＋説明の枠 */
  #product-left > div,
  #product-right > div {
    position: relative;
    height: 540px;
  }

  .product-explain {
    background-color: rgb(193,219,129,0.6);
    position: absolute;
    left: 0;
    bottom: 50px;
    padding: 20px;
    box-shadow: 5px 5px 10px rbga(0,0,0,0.05);
  }

  .product-explain > span {
    color: #5D5099;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
  }

  .product-explain > h3 {
    margin: 10px 0 10px 0;
  }
  /* 画像 */
  .product-photo {
    width: 100%;
  }

  /* ニュース */
  #news {
    margin: 80px 20px 80px 20px;
  }
  
  #news > div {
    display: flex;
    flex-direction: column;
  }

  .recommendation {
    width: 100%;
    padding-right: 20px;
    order: 2;
  }
  
  /* 画像 */
  .recommendation-img {
    width: 100%;
    order: 1;
  }
  .recommendation-img2 {
    width: 100%;
  }

  .recommendation-num {
    font-size: 53px;
    color: #DC669B;
  }
  .recommendation-en {
    color: #A55B9A;
    font-weight: bold;
    font-size: 25px;
    display: block;
  }
  .recommendation-jp {
    display: block;
  }
  .description {
    margin: 0;
  }

  /* お問い合わせ */
  #contact {
    margin: 80px 20px 80px 20px;
  }
  #contact > h3 {
    margin-bottom: 20px;
  }
  #contact > form > div {
    margin-bottom: 20px;
  }
  .contact-heading {
    margin-bottom: 20px;
  }

  /* ラベル */
  .contact-label {
    font-weight: bold;
  }

  /* 必須 */
  .contact-span {
    color: #ce2222;
    margin: 0 0 0 20px;
    font-weight: bold;
  }
  .contact-textbox {
    height: 56px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: #fafafa;
    border-bottom-color: #707070;
    border-bottom-width: 1px;
    border-style: solid;
    min-width: 300px;
    width: 100%;
  }

  .contact-textarea {
    height: 150px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: #fafafa;
    width: 100%;
  }

  .radiobutton {
    margin-bottom: 20px;
  }

  .radiobutton + label::after {
    content: "\A";
    white-space: pre;
  }

  /* フッター */
  footer {
    background-color: #B4ADA9;
    padding: 30px 20px 50px 20px;
  }
  #footer-logo {
    margin-bottom: 30px;
  }
  #footer-link {
    margin-bottom: 50px;
  }
  #footer-link > a {
    text-decoration: none;
    margin: 0 20px 30px 0;
    display: block;
    background-image: url(image/arrow.png);
    background-repeat: no-repeat;
    background-position: right top;
  }
  #footer-link > a:link {
    color: black;
  }
  #footer-link > a:visited {
    color: black;
  }
  #footer-link > a:hover {
    color: black;
    text-decoration: underline;
  }
  #footer-link > a:active {
    color: black;
  }
  #sns-footer > a {
    margin-right: 30px;
}

#copyright {
    font-size: 12px;
    display: block;
    margin-top: 30px;
    color: #ffffff;
}
}